
.botaoCriarPost {
    width: 51px;
    height: 42px;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.text {
    color: #000;
}
