
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 999;
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .sendButton {
    padding: 10px;
    border: none;
    background-color: #0074d9;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .closeButton {
    align-self: flex-end;
    margin-bottom: 10px;
  }
  
  .sendButton:hover {
    background-color: #0056b3;
  }
  