.loginBackground {
    background-color: gray;
    z-index: 0; /* Defina um valor menor do que o z-index do container */
}

.centeredContainer {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
<<<<<<< HEAD
    padding: 100px;
=======
    padding: 10px;
>>>>>>> 3b4e7083dfd4ba1a307c64608fc6765354893c35
    width: 100%;
}  

.button {
    margin-top: auto;
}

.whiteBall {
<<<<<<< HEAD
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-160%);
} 
=======
<<<<<<< HEAD:codebuddy-repo/src/pages/Cadastro/Register.module.css
    transform: translateX(530%) translateY(-179%);
  }
  
=======
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-160%);
} 
>>>>>>> 3b4e7083dfd4ba1a307c64608fc6765354893c35:codebuddy-repo/src/pages/Login/Login.module.css
>>>>>>> 3b4e7083dfd4ba1a307c64608fc6765354893c35
