.whiteBall {
  position: absolute;
  top: 12%;
  left: 16.5%;
}

.page {
  align-items: center; /* Centraliza verticalmente */
  margin-left: -60%; /* Adicione margem à esquerda */
  margin-top: 10%;
}

.textContainer {
  margin-top: -100px;
}

.botaoGrupo {
  margin-left: 60%;
  margin-top: -15%;
}

.botaoContainer {
  display: flex;
  align-items: center; 
  color: white;
  font-size: 20px;
  font-weight: 800;
line-height: normal;
font-family: Inter;

}

.texto {
  padding-left: 10px;
}