.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Alinha verticalmente no centro */
    background-color: #87AAD9;
    padding: 1em;
    width: 100%;
    color: white;
    position: fixed; /* Fixa o navbar no topo */
    top: 0; /* Alinha o navbar no topo da tela */
    left: 0; /* Alinha o navbar à esquerda da tela */
    z-index: 1000; /* Define a ordem de empilhamento (pode ajustar conforme necessário) */
    margin-top: 1px;
  }
  

h2 {
    font-size: 30;
    margin-left: 50px;
}

/* Estilos para os links de Login e Registrar */
.right a {
    text-decoration: none;
    color: white;
    margin-left: 20px; /* Adicione margem entre os links */
    font-size: 30px;
}

.right {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    margin-right: 30px;
  }
  
  .right span {
    margin-right: 50px; /* Adicione margem entre "Login" e "Registrar" */
  }
  
