
.post {
    width: 80%;
    height: 15%;
    border-radius: 25px;
    background-color: #D9D9D9;
    position: absolute;
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
  }

.blueball{
    margin-top: 1%;
    margin-left: 1%
}
  