.post {
    width: 80%;
    height: 15%;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    top: 40%;
    bottom: 80%;
    margin-top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: block;
}