/* FormularioCriarGrupo.module.css */
.form {
    display: flex;
    flex-direction: column;
    padding-left: 20px; /* Adiciona espaço à esquerda */
  }
  
  .formGroup {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    color: gray; /* Adiciona a cor cinza ao título da caixa */
  }
  
  select,
  input,
  textarea {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    color: #000; /* Define a cor do texto para preto */
  }
  
  .addContainer {
    display: flex;
    align-items: center; /* Centraliza o botão verticalmente */
  }
  
  .addButton {
    background-color: #0F1234;
    color: #fff;
    border: none;
    border-radius: 100%;
    padding: 5px 5px;
    cursor: pointer;
    width: 50px; /* Largura menor para o botão Adicionar Aluno */
    align-self: flex-start; /* Alinhe o botão à esquerda */
    margin-top: 10px; /* Adicione um espaço entre o campo Adicionar Aluno e o botão */
  }
  
  .textAreaDescription {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    height: 150px;
  }
  
  .submitButton {
    background-color: #0F1234;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px; /* Largura menor para o botão Criar Grupo */
    margin-top: 10px;
    margin-left: 10px;
  }

  