.post {
    display: block;
    padding-top: 10%;
    background-color: grey;
}

.bottomImagesContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .bottomImage {
    width: 30px;
    height: auto;
    margin: 25px; /* Ajuste conforme necessário */
  }
  
  .inverted {
    transform: scaleX(-1);
  }