.title {
    color: #FFF;
text-align: left;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: capitalize;
padding-left: 5%;
padding-top: 1%;
}