.container {
  width: 200px; /* Ajuste a largura conforme necessário */
  height: 100px; /* Ajuste a altura conforme necessário */
  border-radius: 10px;
  background-color: orange;
  margin: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold;
  color: white;
}
