.container {
    width: 20%;
    height: 20%;
    flex-shrink: 0;
    border-radius: 25px;
    background: #BEC941;
    position: absolute;
    top: 80%;
    bottom: 80%;
    margin-top: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }