.container {
<<<<<<< HEAD
  width: 20%;
  height: 20%;
  flex-shrink: 0;
  border-radius: 25px;
  background: #BEC941;
  position: absolute;
  top: 80%;
  bottom: 80%;
  margin-top: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
=======
  width: 200px; /* Ajuste a largura conforme necessário */
  height: 100px; /* Ajuste a altura conforme necessário */
  border-radius: 10px;
  background-color: orange;
  margin: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
  font-weight: bold;
  color: white;
}
>>>>>>> 3b4e7083dfd4ba1a307c64608fc6765354893c35
