.container {
    width: 300px;
    height: 30%; 
    height: calc(300px * (276 / 200));
    border-radius: 25px;
    background: #87ABDA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    
  }
  