.container {
    width: 90%;
    height: 70%;
    flex-shrink: 0;
    border-radius: 25px;
    background: #BEC941;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  