.loginBackground {
    background-color: gray;
    z-index: 0; /* Defina um valor menor do que o z-index do container */
}

.centeredContainer {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 10px;
    width: 100%;
}  

.button {
    margin-top: auto;
}

.whiteBall {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-160%);
} 