.listaAlunos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  text-align: center;
  padding-bottom: 80%;
}


.alunoItem {
  max-width: 500px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.alunoItem > div {
  margin-bottom: 20px;
}



.botaoCriarPostIntegrated {
  width: 51px;
  height: 42px;
  background-color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  z-index: 1;
}

.alunoItem .infoItem {
  display: flex;
}

.alunoItem .infoItem span {
  margin-bottom: 10px; /* Espaçamento entre cada linha (título e resposta) */
}

.alunoItem .infoItem .title {
  font-weight: bold;
}

.alunoItem .infoItem .text {
  margin-left: 20px;
}
